/* styles/globals.css */

/* Define common styles for the body, fonts, etc. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Define styles for the navigation bar */
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 5%;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  h1{
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 100%;
        width: 100%;
        background-color: #f1f1f1;
        color: #333;
        padding: 20px;
        text-align: center;
  }
  